<html>
  <head>
    <title>Message Form</title>
  </head>
  <body>
    <h1>Submit a Message</h1>

    <form method="POST" action="/new-message">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <br /><br />

      <label for="message">Message:</label>
      <input type="text" id="message" name="message" required />

      <br /><br />

      <button type="submit">Send</button>

      <a href="/" style="margin-left: 1em">Back</a>
    </form>
  </body>
</html>
